* {
    font-family: "iosevka", monospace;
    font-size: 18px;
    color: #eff1f5;
    background: #181926;
}

window#waybar {
    border: #eff1f5;
}

#window,
#clock,
#pulseaudio,
#tray,
#workspaces button {
    padding: 0 10px;
}

#workspaces button {
    background: transparent;
    border: none;
    color: #eff1f5;
}

#workspaces button.active {
    text-decoration: underline;
}
